<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../public/output.css" rel="stylesheet">
    <script src="index.js" defer></script>
    <title>Student Form</title>
</head>
<body>
  <div class="min-h-screen bg-color1 flex items-center justify-center relative">
    <div class="absolute top-4 left-4">
      <a href="../homeTeacher/index.html"><img src="../../assets/seta.png" alt="Seta" class="size-6"></a>
    </div>

    <form class="w-full mx-36 my-24 shadow-xl rounded-xl p-8 max-w-5xl" id="form_tcc">
      <h1 class="text-4xl font-bold text-color5 mb-8 text-center">New TCC</h1>
  
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Coluna 1 -->
        <div class="flex flex-col gap-4">

          <div>
            <label class="block text-color5 font-semibold mb-1" for="data_hora">Data e Hora</label>
            <input type="datetime-local" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="data_hora" required />
          </div>
          <div>
            <label class="block text-color5 font-semibold mb-1" for="prof_orientador">Prof. Orientador</label>
            <input type="text" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="prof_orientador" required />
          </div>
          <div>
            <label class="block text-color5 font-semibold mb-1" for="prof_convidado_01">Prof. Convidado 01</label>
            <input type="text" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="prof_convidado_01" required />
          </div>
          <div>
            <label class="block text-color5 font-semibold mb-1" for="prof_convidado_02">Prof. Convidado 02</label>
            <input type="text" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="prof_convidado_02" required />
          </div>
          <div>
            <label class="block text-color5 font-semibold mb-1" for="aluno_01">Aluno 01</label>
            <input type="text" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="aluno_01" required />
          </div>
          <div>
            <label class="block text-color5 font-semibold mb-1" for="aluno_02">Aluno 02</label>
            <input type="text" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="aluno_02" required />
          </div>
        </div>
  
        <!-- Coluna 2 -->
        <div class="flex flex-col gap-4">
          <div>
            <label class="block text-color5 font-semibold mb-1" for="aluno_03">Aluno 03</label>
            <input type="text" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="aluno_03" required />
          </div>
          <div>
            <label class="block text-color5 font-semibold mb-1" for="nome_tcc">Nome do TCC</label>
            <input type="text" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="nome_tcc" required />
          </div>
          <div>
            <label class="block text-color5 font-semibold mb-1" for="curso">Curso</label>
            <input type="text" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="curso" required />
          </div>
          <div>
            <label class="block text-color5 font-semibold mb-1" for="instituicao">Instituição</label>
            <input type="text" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="instituicao" required />
          </div>
          <div>
            <label class="block text-color5 font-semibold mb-1" for="cidade">Cidade</label>
            <input type="text" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="cidade" required />
          </div>
          <div>
            <label class="block text-color5 font-semibold mb-1" for="nota">Nota</label>
            <input type="number" min="0" max="10" step="0.1" class="w-full text-color5 border border-color3 rounded-md p-2 outline-none" id="nota" required />
          </div>
        </div>
      </div>
      <div>
        <button type="submit" class="w-full mt-7 bg-gray-300 hover:bg-gray-400 text-black px-6 py-2 rounded-full transition cursor-pointer" id="btn_submit">
          Salvar
        </button>
      </div>
    </form>
  </div>
</body>
</html>