<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../output.css" rel="stylesheet">
    <script src="index.js"></script>
    <title>Home</title>
</head>
<body class="">
    <div class="bg-color1 flex flex-col items-center justify-center min-h-screen gap-12 relative">
        <div class="absolute top-4 left-4">
            <a href="../loginTeacher/index.html"><img src="../../assets/seta.png" alt="Seta" class="size-6"></a>
        </div>

        <h1 class="flex flex-col text-color5 text-6xl font-bold">
            <span class="text-color5">Olá,</span> <span id="teacher-name">Teacher!</span>
        </h1>
        <div class="grid grid-cols-2 gap-6">
            <a href="../newTcc/index.html">
                <div class="w-40 bg-color2 text-center py-4 rounded-full text-gray-600 font-bold cursor-pointer transition transform hover:-translate-y-0.5">New TCC</div>
            </a>
            <a href="../viewTccs/index.html">
                <div class="w-40 bg-color2 text-center py-4 rounded-full text-gray-600 font-bold cursor-pointer transition transform hover:-translate-y-0.5">View TCCs</div>
            </a>
            <a href="../newStudent/index.html">
                <div class="w-40 bg-color2 text-center py-4 rounded-full text-gray-600 font-bold cursor-pointer transition transform hover:-translate-y-0.5">New Student</div>
            </a>
            <a href="../viewStudents/index.html">
                <div class="w-40 bg-color2 text-center py-4 rounded-full text-gray-600 font-bold cursor-pointer transition transform hover:-translate-y-0.5">View Students</div>
            </a>
            <a href="../newTeacher/index.html">
                <div class="w-40 bg-color2 text-center py-4 rounded-full text-gray-600 font-bold cursor-pointer transition transform hover:-translate-y-0.5">New Teacher</div>
            </a>
            <a href="../viewTeachers/index.html">
                <div class="w-40 bg-color2 text-center py-4 rounded-full text-gray-600 font-bold cursor-pointer transition transform hover:-translate-y-0.5">View Teachers</div>
            </a>
        </div>
        <div class="text-center">
            <button id="logoutBtn" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-6 rounded-full shadow-md">
                Sair
            </button>
        </div>
    </div>
</body>
</html>