<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../output.css" rel="stylesheet">
    <script src="index.js" defer></script>
    <title>View TCCs</title>
</head>
<body>
    <div class="min-h-screen bg-color1 flex items-center justify-center relative">
        <div class="absolute top-4 left-4">
            <a href="../homeTeacher/index.html"><img src="../../assets/seta.png" alt="Seta" class="size-6"></a>
        </div>

        <div class="w-full mx-36 my-24 shadow-xl rounded-xl p-8 max-w-5xl">
            <h1 class="text-3xl font-bold text-center text-color3 mb-6">TCCs Cadastrados</h1>
            <div class="overflow-x-auto max-h-[400px] overflow-y-auto">
                <table class="table-fixed min-w-[1200px] text-sm">
                    <thead class="">
                        <tr>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Código</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Data/Hora</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Prof. Orientador</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Prof. Convidado 01</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Prof. Convidado 02</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Aluno 01</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Aluno 02</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Aluno 03</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Nome do TCC</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Curso</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Instituição</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Cidade</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Nota</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Aprovado</th>
                            <th class="sticky top-0 z-10 px-4 py-2 whitespace-nowrap">Excluir</th>
                        </tr>
                    </thead>
                    <tbody id="dados">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>